<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLive</key>
	<false/>
	<key>PingUrl</key>
	<string>www.rokomari.com</string>
	<key>LiveUrl</key>
	<string>http://rokomariservices.com/api</string>
	<key>StagingUrl</key>
	<string>http://35.160.0.171:8080</string>
	<key>Referer</key>
	<string></string>
	<key>ForgotPassword</key>
	<dict>
		<key>routePath</key>
		<string></string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SignUp</key>
	<dict>
		<key>routePath</key>
		<string>api/register</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SignIn</key>
	<dict>
		<key>routePath</key>
		<string>api/authenticate</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>GetAllEBooks</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/ebooks</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SearchEBooks</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/_search/ebooks</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>GetAllAuthors</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/authors</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SearchAuthors</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/_search/authors</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>GetAllCategories</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/categories</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SearchCategories</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/_search/categories</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>GetAllPublishers</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/publishers</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SearchPublishers</key>
	<dict>
		<key>routePath</key>
		<string>ebook/api/_search/publishers</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
</dict>
</plist>
