<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AliceBlue</key><string>#F0F8FF</string>
    <key>AntiqueWhite</key><string>#FAEBD7</string>
    <key>Aqua</key><string>#00FFFF</string>
    <key>Aquamarine</key><string>#7FFFD4</string>
    <key>Azure</key><string>#F0FFFF</string>
    <key>Beige</key><string>#F5F5DC</string>
    <key>Bisque</key><string>#FFE4C4</string>
    <key>Black</key><string>#000000</string>
    <key>BlanchedAlmond</key><string>#FFEBCD</string>
    <key>Blue</key><string>#0000FF</string>
    <key>BlueViolet</key><string>#8A2BE2</string>
    <key>Brown</key><string>#A52A2A</string>
    <key>BurlyWood</key><string>#DEB887</string>
    <key>CadetBlue</key><string>#5F9EA0</string>
    <key>Chartreuse</key><string>#7FFF00</string>
    <key>Chocolate</key><string>#D2691E</string>
    <key>Coral</key><string>#FF7F50</string>
    <key>CornflowerBlue</key><string>#6495ED</string>
    <key>Cornsilk</key><string>#FFF8DC</string>
    <key>Crimson</key><string>#DC143C</string>
    <key>Cyan</key><string>#00FFFF</string>
    <key>DarkBlue</key><string>#00008B</string>
    <key>DarkCyan</key><string>#008B8B</string>
    <key>DarkGoldenRod</key><string>#B8860B</string>
    <key>DarkGray</key><string>#A9A9A9</string>
    <key>DarkGreen</key><string>#006400</string>
    <key>DarkKhaki</key><string>#BDB76B</string>
    <key>DarkMagenta</key><string>#8B008B</string>
    <key>DarkOliveGreen</key><string>#556B2F</string>
    <key>DarkOrange</key><string>#FF8C00</string>
    <key>DarkOrchid</key><string>#9932CC</string>
    <key>DarkRed</key><string>#8B0000</string>
    <key>DarkSalmon</key><string>#E9967A</string>
    <key>DarkSeaGreen</key><string>#8FBC8F</string>
    <key>DarkSlateBlue</key><string>#483D8B</string>
    <key>DarkSlateGray</key><string>#2F4F4F</string>
    <key>DarkTurquoise</key><string>#00CED1</string>
    <key>DarkViolet</key><string>#9400D3</string>
    <key>DeepPink</key><string>#FF1493</string>
    <key>DeepSkyBlue</key><string>#00BFFF</string>
    <key>DimGray</key><string>#696969</string>
    <key>DodgerBlue</key><string>#1E90FF</string>
    <key>FireBrick</key><string>#B22222</string>
    <key>FloralWhite</key><string>#FFFAF0</string>
    <key>ForestGreen</key><string>#228B22</string>
    <key>Fuchsia</key><string>#FF00FF</string>
    <key>Gainsboro</key><string>#DCDCDC</string>
    <key>GhostWhite</key><string>#F8F8FF</string>
    <key>Gold</key><string>#FFD700</string>
    <key>GoldenRod</key><string>#DAA520</string>
    <key>Gray</key><string>#808080</string>
    <key>Green</key><string>#008000</string>
    <key>GreenYellow</key><string>#ADFF2F</string>
    <key>HoneyDew</key><string>#F0FFF0</string>
    <key>HotPink</key><string>#FF69B4</string>
    <key>IndianRed</key><string>#CD5C5C</string>
    <key>Indigo</key><string>#4B0082</string>
    <key>Ivory</key><string>#FFFFF0</string>
    <key>Khaki</key><string>#F0E68C</string>
    <key>Lavender</key><string>#E6E6FA</string>
    <key>LavenderBlush</key><string>#FFF0F5</string>
    <key>LawnGreen</key><string>#7CFC00</string>
    <key>LemonChiffon</key><string>#FFFACD</string>
    <key>LightBlue</key><string>#ADD8E6</string>
    <key>LightCoral</key><string>#F08080</string>
    <key>LightCyan</key><string>#E0FFFF</string>
    <key>LightGoldenRodYellow</key><string>#FAFAD2</string>
    <key>LightGray</key><string>#D3D3D3</string>
    <key>LightGreen</key><string>#90EE90</string>
    <key>LightPink</key><string>#FFB6C1</string>
    <key>LightSalmon</key><string>#FFA07A</string>
    <key>LightSeaGreen</key><string>#20B2AA</string>
    <key>LightSkyBlue</key><string>#87CEFA</string>
    <key>LightSlateGray</key><string>#778899</string>
    <key>LightSteelBlue</key><string>#B0C4DE</string>
    <key>LightYellow</key><string>#FFFFE0</string>
    <key>Lime</key><string>#00FF00</string>
    <key>LimeGreen</key><string>#32CD32</string>
    <key>Linen</key><string>#FAF0E6</string>
    <key>Magenta</key><string>#FF00FF</string>
    <key>Maroon</key><string>#800000</string>
    <key>MediumAquaMarine</key><string>#66CDAA</string>
    <key>MediumBlue</key><string>#0000CD</string>
    <key>MediumOrchid</key><string>#BA55D3</string>
    <key>MediumPurple</key><string>#9370DB</string>
    <key>MediumSeaGreen</key><string>#3CB371</string>
    <key>MediumSlateBlue</key><string>#7B68EE</string>
    <key>MediumSpringGreen</key><string>#00FA9A</string>
    <key>MediumTurquoise</key><string>#48D1CC</string>
    <key>MediumVioletRed</key><string>#C71585</string>
    <key>MidnightBlue</key><string>#191970</string>
    <key>MintCream</key><string>#F5FFFA</string>
    <key>MistyRose</key><string>#FFE4E1</string>
    <key>Moccasin</key><string>#FFE4B5</string>
    <key>NavajoWhite</key><string>#FFDEAD</string>
    <key>Navy</key><string>#000080</string>
    <key>OldLace</key><string>#FDF5E6</string>
    <key>Olive</key><string>#808000</string>
    <key>OliveDrab</key><string>#6B8E23</string>
    <key>Orange</key><string>#FFA500</string>
    <key>OrangeRed</key><string>#FF4500</string>
    <key>Orchid</key><string>#DA70D6</string>
    <key>PaleGoldenRod</key><string>#EEE8AA</string>
    <key>PaleGreen</key><string>#98FB98</string>
    <key>PaleTurquoise</key><string>#AFEEEE</string>
    <key>PaleVioletRed</key><string>#DB7093</string>
    <key>PapayaWhip</key><string>#FFEFD5</string>
    <key>PeachPuff</key><string>#FFDAB9</string>
    <key>Peru</key><string>#CD853F</string>
    <key>Pink</key><string>#FFC0CB</string>
    <key>Plum</key><string>#DDA0DD</string>
    <key>PowderBlue</key><string>#B0E0E6</string>
    <key>Purple</key><string>#800080</string>
    <key>RebeccaPurple</key><string>#663399</string>
    <key>Red</key><string>#FF0000</string>
    <key>RosyBrown</key><string>#BC8F8F</string>
    <key>RoyalBlue</key><string>#4169E1</string>
    <key>SaddleBrown</key><string>#8B4513</string>
    <key>Salmon</key><string>#FA8072</string>
    <key>SandyBrown</key><string>#F4A460</string>
    <key>SeaGreen</key><string>#2E8B57</string>
    <key>SeaShell</key><string>#FFF5EE</string>
    <key>Sienna</key><string>#A0522D</string>
    <key>Silver</key><string>#C0C0C0</string>
    <key>SkyBlue</key><string>#87CEEB</string>
    <key>SlateBlue</key><string>#6A5ACD</string>
    <key>SlateGray</key><string>#708090</string>
    <key>Snow</key><string>#FFFAFA</string>
    <key>SpringGreen</key><string>#00FF7F</string>
    <key>SteelBlue</key><string>#4682B4</string>
    <key>Tan</key><string>#D2B48C</string>
    <key>Teal</key><string>#008080</string>
    <key>Thistle</key><string>#D8BFD8</string>
    <key>Tomato</key><string>#FF6347</string>
    <key>Turquoise</key><string>#40E0D0</string>
    <key>Violet</key><string>#EE82EE</string>
    <key>Wheat</key><string>#F5DEB3</string>
    <key>White</key><string>#FFFFFF</string>
    <key>WhiteSmoke</key><string>#F5F5F5</string>
    <key>Yellow</key><string>#FFFF00</string>
    <key>YellowGreen</key><string>#9ACD32</string>
</dict>
</plist>
