<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLive</key>
	<false/>
	<key>PingUrl</key>
	<string>www.startup.com</string>
	<key>LiveUrl</key>
	<string>http://startup-service.com/api</string>
	<key>StagingUrl</key>
	<string>http://35.160.0.171:8080</string>
	<key>Referer</key>
	<string></string>
	<key>ForgotPassword</key>
	<dict>
		<key>routePath</key>
		<string>api/account/reset_password/init</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>ChangePassword</key>
	<dict>
		<key>routePath</key>
		<string>api/account/change_password</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SignUp</key>
	<dict>
		<key>routePath</key>
		<string>api/register</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>SignIn</key>
	<dict>
		<key>routePath</key>
		<string>api/authenticate</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>IsSignedIn</key>
	<dict>
		<key>routePath</key>
		<string>api/authenticate</string>
		<key>httpMethod</key>
		<string>Get</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
	<key>ContactUs</key>
	<dict>
		<key>routePath</key>
		<string>api/contactUs</string>
		<key>httpMethod</key>
		<string>Post</string>
		<key>contentType</key>
		<string>Json</string>
	</dict>
</dict>
</plist>
